@media only screen and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    height: 100vh; /* vh stands for viewport height, 100vh means 100% of the browser window height */
    /* overflow-y: hidden; hides vertical scrollbar */
  }
  
  /* Adventure Page */
  /* Navigation Bar */
  #toggler {
    display: none;
  }
  
  .hambuger-container {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 18px;
  }
  
  .hambuger-container span {
    display: block;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
    top: 0;
  }
  
  .hambuger-container span:nth-child(2) {
    margin-top: 7px;
  }
  
  #toggler:checked + label .hambuger-container span:nth-child(1) {
    transform: rotate(45deg);
    top: 4px;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }
  
  #toggler:checked + label .hambuger-container span:nth-child(2) {
    transform: rotate(-45deg);
    top: -4px;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }
  
  header {
    height: 44px;
    background-color: #000;
    padding: 0 18px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-items {
    background-color: rgba(0, 0, 0, .82);
    width: 35%;
    height: 100vh;
    position: absolute;
    top: 44px;
    left: 0;
    transform: scaleY(0);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out .3s;
    transform-origin: 50% 0;
    opacity: 0;
    z-index: 9999;
  
    align-items: center;
  }
  
  #toggler:checked ~ .nav-items {
    transform: scaleY(1);
    opacity: 1;
  }
  
  ul {
    margin-top: 1em;
  }
  
  ul li {
    color: #fff;
    font-size: 17px;
    line-height: 2;
    list-style-type: none;
    height: 40px;
    line-height: 40px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 5px;
  }
  
  a.active, a:hover {
    background: #1b9;
    transition: .5s;
  }
  
  .home {
    width: 25px;
    height: 25px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }
  
  .logo {
    margin-left: 20px;
  }
  
  /* footer */
  footer {
    height: 120px;
    background-color: #000;
    padding: 0 18px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .user {
    border-radius: 100%;
    height: 100px;
    margin-left: 50%;
    margin-top: 15%;
  }
  
  footer a:hover {
    text-decoration: none;  
    color: inherit; 
    background: #000; 
  }
  
  .exp {
    display: flex;
    align-items: center;
    /* margin-left: 15%; */
    color: #fff;
  }
  
  .level {
    margin-left: 25%;
  }
  
  .progress-bar {
    height: 20px;
    width: 200px;
    background-color: #ccc;
    margin-left: 5%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    width:0;  
    background: linear-gradient(45deg, #22ffde, #2196f3); /* Color when experience increases */
    animation: animate 1s;
  }
  
  /* Experience Page */
  .bar {
    margin-top: 0;
    height: 150px;
    background-color: #857faf;
    padding: 0 18px;
    position: relative;
    display: flex;
    width: 500px;
  }
  
  .bar span {
    display: block;
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .userimag {
    border-radius: 100%;
    margin-left: 5%;
    height: 110px;
    width: auto;
    margin-top: 10px;
  }
  
  /* Handbook Effect */
  .container {
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 150px;
  }
  
  .container .card {
    margin-top: 100px;
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
  }
  
  .container .card.unlocked:hover {
    height: 420px;
  }
  
  .container .card.unlocked:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
  }
  
  .container .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .container .card.unlocked .imgBx img {
    content: url('icon/unlocked.png'); /* New unlocked image */
  }
  
  .container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /* Button Style */
  .buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #000000;
  }
  

.locationbutton {
    position: relative;
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    background-size: 400%;
    border-radius: 50px;
    z-index: 1;
    margin-top: 35px;}
  .locationbutton:hover {
    animation: streamer 8s infinite;
  }
  .locationbutton:hover::before {
    animation: streamer 8s infinite;
  }
  @keyframes streamer{
    100%{
        /* background */
        background-position: -400% 0;
    }}


}

