.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(red, green, blue, alpha);
	/* z-index: 9999; */
	min-height: calc(100%-120px);
}
/* Diewe 修改弹出框位置大小 */
.model-content {
	display: none;
	width: 470px;
	position: absolute;
	left: calc(50% - 235px);
	top: calc(50% - 60px);
	background-image: linear-gradient(125deg, #27ae60, #2980b9, #8e44ad);
	background-size: 100%;
	animation: bganimation 15s infinite;
	border-radius: 5%;
	color: #fff;
	padding: 10px 17px ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 10001;
	font-size: 15px;
}

.model-content img {
	width: 300px;
	height: auto;
}

.model-content p {
	height: 300px;
	/* 限制高度为 300px */
	overflow-y: hidden;
	/* 隐藏超出部分 */
	position: relative;
}

.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

/* 旁白 */
.hidden {
	display: none;
}

.narration {
	transition: opacity 0.5s;
}

/* 侧边栏 */

/* 侧边栏 */
/* Diewe 修改了侧边栏背景颜色  信息字体大小 以及按钮的样式 */
#sidebar {
	width: 250px;
	/* 侧边栏宽度，根据需要调整 */
	background: linear-gradient(to bottom, #03a9f4, #f49f09);
	padding: 20px;
	height: 743px;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	/* 使用绝对定位 */
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	font-size: 18px;
	/* 确保侧边栏位于地图之上 */
}

#sidebar img {
	animation: sizeChange 1s;
}

@keyframes sizeChange {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

#startDig,
#closeSidebar {
	padding: 10px 20px;
	font-size: 18px;
	background: #03a9f4;
	color: #fff;
	border-radius: 5px;
	border: 0;
}

#startDig {
	margin-right: 26px;
}

.infoText {
	font-weight: 800;
}

.leaflet-container .leaflet-control-attribution {
	display: none;
}
/* Diewe  修改结束 */
/* 修改 */
#map {
	/* height: 650px; */
	height: 786px;
	top: 0;
	z-index: 2;
	position: relative;

}

/* 对话旁白 */
#dialogue-column {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 666;
	margin-right: 0;
	background-color: #7777779e;
	padding: 10px 50px;
	box-sizing: border-box;
	/* 可根据需要调整 */
}

#dialogue-column>img {
	z-index: 666;
	width: 100px;
	position: relative;
	bottom: 0;

}

.dialogue-box {
	width: 88%;
	margin: 0 auto;
	height: auto;
	border-radius: 10px;
	position: absolute;
	left: 8.5%;
	bottom: 10px;
	z-index: 777;
}

.narration {
	font-size: 18px;
	margin: 0;
	color: #fff;
}

#navabutton {
	background: #03a9f4;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	border: 0px;
	padding: 10px;
}

/* 修改结束 */